
<h3>Hello {{junior.name}} !!!</h3>

<br>
<br>

<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Customer Contact</th>
      <th scope="col">Description</th>
    </tr>
  </thead>
  <tbody>
   
        <tr>
            <td>6253260286111844d4547557</td>          
            <td>AVNEESH KUMAR</td>
            <td>9627823715</td>
            <td>No light in bathroom!!</td>
        </tr>

        <tr>
            <td>625f985b50015a2938f946fc</td>          
            <td>AVNEESH KUMAR</td>
            <td>9627823715</td>
            <td>Fan is not working!!</td>
        </tr>
        <tr>
            <td>626184d401fc714178995d8f</td>          
            <td>Miru</td>
            <td>9627823715</td>
            <td>Light and fan both are not working !!</td>
        </tr>
        <tr>
            <td>786184d401fc7141789345l8k</td>          
            <td>AVNEESH KUMAR</td>
            <td>9627823715</td>
            <td>wifi is not working!!</td>
        </tr>
        
        
   
    
  </tbody>
</table>